.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
}

@keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

table, th, td {
    border: 1px solid black;
}


/*Navigation Bar*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li:hover {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

.hovering {
	width: 100px;
	height: 100px;
	display: none;
}

body #fixedElement {
    position:fixed !important;
    position: absolute; /*ie6 */
	bottom: 1em;
	right: 1em;
	border: solid;
	width : 20%;
	background: rgba(86,165,236,0.7);
	overflow: hidden;
	min-height: 300px;
}

p {
	text-align: left;
}

table.bracket {
    border: solid 2px black;
	width: 75%;
}

.bracket td {
	border: none;
    vertical-align: middle;
    width: 30em;
    margin: 0;
    padding: 5px;
}

.bracket td p {
	text-align: center;
    border-bottom: solid 1px black;
    margin: 0;
    padding: 5px 5px 5px 5px;
}

.bracket th{
    text-align:center;
}

div.brackdiv {
	text-align: left;
	padding: 3%;
}

body #fixedswap {
    position:fixed !important;
    position: absolute; /*ie6 */
	top: 15em;
	right: 1em;
	border: solid;
	width : 20%;
	background: rgba(86,165,236,0.7);

}

