#usrnmbox, input[type=password] {
    width: 300px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.loginbtn {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 300px;
	border-radius: 10px;
}

.loginbtn:hover {
    opacity: 0.8;
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 0 0;
}

img.avatar {
    width: 100px;
}

.logincontainer {
    padding: 16px;
    width: 300px;
    margin: auto;
}

label.login {
    float: left;
    margin-top: 5px;
}
