.profileinput {
    width: 35%;
    padding: 12px 20px;
    margin-left: 25%;
    margin-right: 25%;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.passinput {
    width: 25%;
    padding: 12px 20px;
    margin-left: 25%;
    margin-right: 25%;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

#profile_table {
    border-collapse: collapse;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
}

#spar_table {
    border-collapse: collapse;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
}

.profiledata {
    text-align: left;
    padding: 8px;
}

.profilerow:nth-child(even) {
    background-color: #f2f2f2;
}

.profileform {
    margin-left: 25%;
    margin-right: 25%;
}

.profilelabel {
    margin-left: 25%;
    margin-right: 25%;
}

.profilebutton {
    margin-left: 25%;
    margin-right: 25%;
}

#desc, #pw_desc, #spar_desc {
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
}

.profileselect {
	margin-left: 25%;
        margin-right: 25%;
	width: 225px;
	height: 40px;
	cursor: pointer;
	background-color: white;
	box-shadow: 0 2px 0 white;
	border-radius: 2px;
}
